{% extends "template.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% include 'partials/_alertas.html' %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prefixo do Veículo</th>
                <th scope="col">Atende Cadeirante</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
            </tr>
        </thead>
    <tbody>
        {% for item in posicao %}
            <tr>
                <th scope="row">{{ item.p }}</th>
                <td>{{ item.a }}</td>
                <td>{{ item.py }}</td>
                <td>{{ item.px }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-warning" onclick="window.location.href = '{% url 'busca_veiculo' %}'">Voltar</button>
</div>
{% endblock %}

